files-master/App-10-Cinema-Ticket-Booking/banking.db
files-master/App-10-Cinema-Ticket-Booking/cinema.db
files-master/App-10-Cinema-Ticket-Booking/design.txt
files-master/App-10-Cinema-Ticket-Booking/requirements.txt
files-master/App-2-Flatmates-Bill/requirements.txt
files-master/App-2-Flatmates-Bill/files/design.txt
files-master/App-2-Flatmates-Bill/files/house.png
files-master/App-3-Project-Math-Painting/design.txt
files-master/App-3-Project-Math-Painting/requirements.txt
files-master/App-4-Webcam-Photo-Sharer/design-frontend.png
files-master/App-4-Webcam-Photo-Sharer/design.txt
files-master/App-4-Webcam-Photo-Sharer/requirements.txt
files-master/App-4-Webcam-Photo-Sharer/images/down.png
files-master/App-4-Webcam-Photo-Sharer/images/normal.png
files-master/App-5-Flatmates-Bill-Web-App/requirements.txt
files-master/App-5-Flatmates-Bill-Web-App/flatmates_bill/flat.py
files-master/App-5-Flatmates-Bill-Web-App/flatmates_bill/main.py
files-master/App-5-Flatmates-Bill-Web-App/flatmates_bill/reports.py
files-master/App-5-Flatmates-Bill-Web-App/flatmates_bill/files/design.txt
files-master/App-5-Flatmates-Bill-Web-App/flatmates_bill/files/house.png
files-master/App-5-Flatmates-Bill-Web-App/static/main.css
files-master/App-5-Flatmates-Bill-Web-App/templates/bill_form_page.html
files-master/App-5-Flatmates-Bill-Web-App/templates/index.html
files-master/App-5-Flatmates-Bill-Web-App/templates/results.html
files-master/App-6-Project-Calorie-Webapp/design.txt
files-master/App-6-Project-Calorie-Webapp/headers_for_scraping.txt
files-master/App-6-Project-Calorie-Webapp/requirements.txt
files-master/App-6-Project-Calorie-Webapp/temperature.yaml
files-master/App-6-Project-Calorie-Webapp/static/main.css
files-master/App-6-Project-Calorie-Webapp/templates/calories_form_page.html
files-master/App-6-Project-Calorie-Webapp/templates/index.html
files-master/App-7-Automated-Emails/design.txt
files-master/App-7-Automated-Emails/people.xlsx
files-master/App-7-Automated-Emails/requirements.txt
files-master/App-8-Instant-Dictionary-Webapp/data.csv
files-master/App-8-Instant-Dictionary-Webapp/requirements.txt
files-master/App-8-Instant-Dictionary-Webapp/design/about.png
files-master/App-8-Instant-Dictionary-Webapp/design/design.txt
files-master/App-8-Instant-Dictionary-Webapp/design/dictionary.png
files-master/App-8-Instant-Dictionary-Webapp/design/home.png
files-master/App-8-Instant-Dictionary-Webapp/examples/main.py
files-master/App-9-Instant-Dictionary-API/api.py
files-master/App-9-Instant-Dictionary-API/data.csv
files-master/App-9-Instant-Dictionary-API/definition.py
files-master/App-9-Instant-Dictionary-API/requirements.txt
/files-master
/app1.2/__pycache__
/app1.3/__pycache__
git_example/__pycache__
